*{
	margin: 0;
	padding: 0;
	-wefkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
$ancho: 100%;

/*Mixin para parrafos*/
@mixin colorP($color, $espaciadoP, $tamañoP, $espaciadoL, $alturaL, $alineacion, $margen) {
    color: $color;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: $espaciadoP;
    font-size: $tamañoP;
    letter-spacing: $espaciadoL;
    line-height: $alturaL;
    text-align: $alineacion;
    margin: $margen;
    
}

p{
    @include colorP(black, 0.05rem, 1rem, 0.03rem, 0.969rem, start, 10px)
}


h1{
    color: rgb(175, 169, 169);
    font-style: normal;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px;
}
h2{
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;



}
h3{
    color: black;
    font-size: 2rem;
    font-family: 'PT Serif', serif;
    margin: 10px;
}


ul{
    color: slategray;
    text-transform: none;
}
ol{
    color: slategray;
    text-transform: none;
}
a{
    color: darkgrey;
    text-decoration: none;

}

.expandir{
    min-height: calc(100vh);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 0.05rem;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    line-height: 0.969rem;
    text-align: start;
    background: radial-gradient( rgb(112, 112, 112), rgb(204, 201, 201));
}
.expandir article h3{
    margin: 30px;
}

.expandir article ul li{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 0.05rem;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    line-height: 0.969rem;
    text-align: start;
    margin: 30px;
}



/*HEADER*/

header{
    background-color: black;
    width: $ancho;
}
.header__logo{
    width: 200px;
    height: $ancho;
    display: flex;
}
.header{
    background-color: black;
    width: $ancho;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.header__logo-imagen{
    width: $ancho;
    height: $ancho;
}
.imagenUno{
    height: 100%;
    width: 100%;
    padding: 0px;
 }
/*HEADER*/

/*MENU DE NAVEGACIÓN*/
.header__navegacion{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;   
}
.header__navegación-menu{
    display: flex;
    
}
.header__navegacion{
    ul{
        list-style: none;
    }
    
}
.header__navegación-menu{
    li{
        position: relative;
        display: inline-block;
        a{
            display: block;
        padding: 15px 10px;
        color: 353535;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        }
    }
}

.header__navegación-menu li a:hover{
    color: darkred;
    transition: all .3s;
    
}
/*MENU DE NAVEGACIÓN*/


/* SUBMENÚ DE NAVEGACIÓN*/
 
/*BLOQUES DE PAGINA*/
.main{
    width: 100%;
}
.main__bloquedos-enlaceEnP{
    margin: 15px, 15px;
}
.main__bloquedos-enlaceEnP p a:hover{
    color: darkred;
    transition: all .3s;
}

.main__bloquedos-enlaceEnParrafo{
    color: black;
    font-weight: bold;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.main__bloqueuno{
    background: linear-gradient(rgb(49, 49, 49), rgb(58, 58, 58));
    display: flex;
    border: black 3px solid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
}
.main__bloquedos{
    @extend .main__bloqueuno;
    align-items: flex-start;
    
}
.main__bloqueuno p{
    color: blanchedalmond;
    font-weight: bold;
    letter-spacing: 0.03rem;
}
.main__bloqueuno-segmentoDeIndex{
    margin: 6px;
    width: $ancho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloqueImagen{
    margin: 20px;
    flex-grow: 1;
}
.main{
    width: 100%;
}
.claseP{
    margin: 5px;
}
.main__espaciosBordes{
    width: $ancho;
}

.main__bloqueuno-espaciosBordes{
    width: $ancho;
}
.banner{
    border-radius: 16px;
}
#bannerPaginaPrincipal{
    height: 100vh;
    background-image: url(../img/fondodepantalla.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border: solid black 3px;
}
/*BLOQUES DE PAGINA*/

/*menu*/
#titulollamativo{
    background-color: rgba(255, 255, 0, 0.692);
    font-size: 40px;
    color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
th{
    color: maroon;
}
/*menu*/

/*NOSOTROS*/
.main__videos-Youtube{
    color: rgb(255, 255, 255);
}
.main__videos{
    background: rgb(0, 0, 0);
    position: relative;
    width: $ancho;
    height: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#tamañoYoutube{
    width: $ancho;
    height: 500px;

}
#encuadreVideos{
    width: $ancho;
    height: $ancho;
}
/*NOSOTROS*/

/*CONTACTO*/
#formularioCOntacto{
    margin: 50px;
    height: 500px;
    width: $ancho;
}
.padreRelativoImagen{
    display: flex;
    justify-content: center;
    align-self: center;
}
#fotoNovedades{
    height: 200px;
    width: 300px;
}
#fotoNovedades:hover{
    transform: scale(4);
}
/*CONTACTO*/

/*FORMULARIO DE CONTACTO*/
.mainContacto{
    height: 800px;
    width: $ancho;
}
.fondoContacto{
    background-image:url(../img/front-view-burger-with-veggies-and-meat.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: $ancho;
}
.formContenedor .form .formHeader .formTitle{
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 0;


}
.formContenedor .form .formHeader .formTitle span{
    color: rgb(255, 0, 0);


}
.formContenedor .form{
    background: rgba( 0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 3px;
    padding-bottom: 30px;
    border-radius: 3px;

}
.formContenedor .form .formLabel{
    display: block;
    color: rgb(255, 56, 56);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
.formContenedor .form .formCivil{
    background: rgba( 0, 0, 0, .6);
    display: block;
    color: rgb(255, 56, 56);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.formContenedor .form .formInput, .formTextArea{
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(250, 53, 53);
    width: $ancho;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formContenedor .form .formTextArea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.formContenedor .form .btnSubmit{
    width: $ancho;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background-color: rgb(250, 53, 53);
    font-size: 16px;
    border: solid 1px;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.formContenedor .form .btnSubmit:hover{
    background-color: tomato;
}

.formContenedor .form .formBottom{
    background: rgba(0, 0, 0, .7);
    display: inline-block;
    color: rgb(255, 66, 66);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: solid 1px white;
    height: 70px;
    width: $ancho;
    margin-bottom: 10px;
}
.formContenedor .form .formBottom input[type="checkbox"] {
    display: none;
}
.formContenedor .form .formBottom label {
    color: #ff0000;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    margin: 18.5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.formContenedor .form .formBottom label:hover{
    background: rgba(238, 83, 83, 0.2)
}
.formContenedor .form .formBottom label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background:none;
    border: 3px solid rgb(250, 53, 53);
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}
.formContenedor .form .formBottom label:before{
    border-radius: 3px;
}

.formContenedor .form .formBottom input:checked + label {
    padding: 5px 15px;
    background: rgb(250, 53, 53);
    border-radius: 2px;
    color: white;
}
.formContenedor .form .formBottom input:checked + label:before{
    display: none;
}
/*FORMULARIO DE CONTACTO*/

/* Footer*/
.footer__navegacion{
    margin: auto;
    right: initial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(rgb(49, 49, 49), black) ;
    width: $ancho;
    height: 60px;
    position: relative;
    
}
.footer__navegacion{
    ul{
        list-style: none;
    }
    
}
.footer__navegacion-menu{
    li{
        display: inline-block;
        a{
            padding: 15px 10px;
            color: 353535;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
        }
    }
    

}
.footer__navegacion-menu li a:hover{
    color: darkred;
    transition: all .3s;
    
}
/* Footer*/

/* PAGINA MENU*/
/*MENU DE NAVEGACIÓN*/
.header__navegacion{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;   
}
.header__navegación-menu{
    display: flex;
    
}
.header__navegacion ul{
    list-style: none;
}
.header__navegación-menu > li{
    position: relative;
    display: inline-block;

}
.header__navegación-menu > li > a{
    display: block;
    padding: 15px 10px;
    color: 353535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.header__navegación-menu li a:hover{
    color: darkred;
    transition: all .3s;
    
}
/*MENU DE COMIDA*/

@mixin menu($color, $altura,$espaciadoP, $espaciadoL, $alturaL, $tipoLista, $alineacion, $margen, $tamañoL) {
    color: $color;
    height: $altura;
    word-spacing: $espaciadoP;
    letter-spacing: $espaciadoL;
    line-height: $alturaL;
    list-style-type: $tipoLista;
    text-align: $alineacion;
    margin: $margen;
    font-size: $tamañoL;
}
.tBraum{
    
    background-color: black;
    h3{
        color: whitesmoke;
        font-size: 50px;
        text-align: center;
    }
    p{
        @include menu(yellow, 20%, 0.05rem, 0.03rem, 0.969rem, none, center, 10px, 2.5rem)
    }
}


.doubleCheese{
    
    background-color:rgba(255, 255, 0, 0.692);
}

.doubleCheese__P{
    h3{
        
        color: rgb(0, 0, 0);
        font-size: 50px;
        text-align: center;
    }
    p{
        @include menu(rgb(0, 0, 0), 20%, 0.05rem, 0.03rem, 0.969rem, none, center, 20px, 2.5rem)
    }
}
.imagenFlex{
    display: flex;
    justify-content: center;
}
.imagenMenu{

}
/*CELULARES Y DISPOSITIVOS CHICOS*/
@media only screen and (max-width:600px){
        /*HEADER*/
    .header{
        background-color: black;
        width: $ancho;
        min-height: calc(100vh);
        display: grid;
        grid-template-columns: $ancho;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo"
                             "menu";
        justify-content: center;    
        
                   
                            
    }
    #logoImagen{
        margin: 25px;
        width: 100px;
        height: 60px;
        
    }
    .header__logo{
        height: 300px;
        width: $ancho;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-content: center;

    }
    .header__logo-imagen{
        width: $ancho;
        height: $ancho;
    }
    .imagenUno{
        height: 100%;
     }

    /*MENU DE NAVEGACIÓN*/
    .header__navegacion{
        width: $ancho;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        grid-area: menu;
    }

    .header__navegación-menu{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .header__navegacion{
        ul{
            list-style: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    }
    .header__navegación-menu{
        li{
            a{
                padding: 15px 10px;
        color: 353535;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
            }
        }
    }

    .banner{
        margin: 8px;
        border-radius: 16px;
        height: 550px;
    }
    #bannerPaginaPrincipal{
        height: 100%;
        background-image: url(../img/fondodepantalla.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border: solid black 3px;
    }



    /*MENU MENU MENU MENU MENU MENU MENU MENU MENU DE COMIDA*/

    @mixin menu($color,$tamanioLetra, $espaciadoP, $espaciadoL, $alturaL, $tipoLista, $alineacion) {
        color: $color;
        font-size: $tamanioLetra;
        word-spacing: $espaciadoP;
        letter-spacing: $espaciadoL;
        line-height: $alturaL;
        list-style-type: $tipoLista;
        text-align: $alineacion;
    }
    
    .tBraum{
        background-color: rgb(0, 0, 0);

    }
    .tBraum__P{
        margin: 10px;
        h3{
            font-size: 2rem;
            color: whitesmoke;
            text-align: center;
        }
        p{
            @include menu(yellow, 1rem, 0.05rem, 0.03rem, 0.969rem, none, center);
            text-align: center;
            margin: 10px;
            height: 25px;
        }
    }
    
    
    
    .doubleCheese{
        background-color: rgba(255, 255, 0, 0.692);
        display: flex;
        .doubleCheese__P{
            order: 1;
        }
        .imagenFlex{
            order: 2;
        }
        
    }
    .doubleCheese__P{
        margin: 10px;

        p{
            @include menu(rgb(0, 0, 0), 1rem, 0.05rem, 0.03rem, 0.969rem, none, center);
            text-align: center;
            margin: 10px;
            height: 25px;
        }
        h3{
            font-size: 2rem;
            color: rgb(0, 0, 0);
            text-align: center;
        }
        
    }
   
    .imagenFlex{
        margin-bottom: 30px;
    }
        
    
}
/*CELULARES Y DISPOSITIVOS CHICOS*/



/*DISPOSITIVOS MEDIOS*/
@media only screen and (max-width:768px){
    /*MENU MENU MENU MENU MENU MENU MENU MENU MENU DE COMIDA*/

    @mixin menu($color,$tamanioLetra, $espaciadoP, $espaciadoL, $alturaL, $tipoLista, $alineacion) {
        color: $color;
        font-size: $tamanioLetra;
        word-spacing: $espaciadoP;
        letter-spacing: $espaciadoL;
        line-height: $alturaL;
        list-style-type: $tipoLista;
        text-align: $alineacion;
    }
    
    .tBraum{
        background-color: rgb(0, 0, 0);

    }
    .tBraum__P{
        margin: 10px;
        h3{
            font-size: 2rem;
            color: whitesmoke;
            text-align: center;
        }
        p{
            @include menu(yellow, 1rem, 0.05rem, 0.03rem, 0.969rem, none, center);
            text-align: center;
            margin: 10px;
            height: 25px;
        }
    }
    
    
    .doubleCheese{
        background-color: rgba(255, 255, 0, 0.692);
        display: flex;
        .doubleCheese__P{
            order: 1;
        }
        .imagenFlex{
            order: 2;
        }
        
    }
    .doubleCheese__P{

        p{
            @include menu(rgb(0, 0, 0), 1rem, 0.05rem, 0.03rem, 0.969rem, none, center);
            text-align: center;
            margin: 10px;
            height: 25px;
        }
        h3{
            font-size: 2rem;
            color: rgb(0, 0, 0);
            text-align: center;
        }
        
    }
    .imagenMenu{
        height: 100%;
    }
    .imagenFlex{
        margin-bottom: 30px;
    }
   
}